<div class="container">
  <div class="formRow">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-group">
            <div class="row formRow">
              <div class="col-md-3 col-6">
                <label for="vs_11">Väliseinä 1+1, m²</label>
              </div>
              <div class="col-md-2 col-4">
                <input 
                type="number" 
                id="vs_11" 
                class="form-control"
                ngModel
                name="vs_11"
                (blur)="updateSumma()"
                required>
              </div>
            </div>

            <div class="row formRow">
              <div class="col-md-3 col-6">
                <label for="vs_10">Väliseinä 1+0, m²</label>
              </div>
              <div class="col-md-2 col-4">
                <input 
                type="number" 
                id="vs_10" 
                class="form-control"
                ngModel
                name="vs_10"
                (blur)="updateSumma()"
                required>
              </div>
            </div>

            <div class="row formRow">
              <div class="col-md-3 col-6">
                <label for="kotelo">Kotelo, m</label>
              </div>
              <div class="col-md-2 col-4">
                <input 
                type="number" 
                id="kotelo" 
                class="form-control"
                ngModel
                name="kotelo"
                (blur)="updateSumma()"
                required>
              </div>
            </div>

            <div class="row formRow">
              <div class="col-md-3 col-6">
                <label for="alakatto">Alakatto, m²</label>
              </div>
              <div class="col-md-2 col-4">
                <input 
                type="number" 
                id="alakatto" 
                class="form-control"
                ngModel
                name="alakatto"
                (blur)="updateSumma()"
                required>
              </div>
            </div>

            <div class="row formRow">
              <div class="col-md-3 col-6">
                <label for="pistorasia">Pistorasia</label>
              </div>
              <div class="col-md-2 col-4">
                <input 
                type="number" 
                id="pistorasia" 
                class="form-control"
                ngModel
                name="pistorasia"
                (blur)="updateSumma()"
                required>
              </div>
            </div>
          </div>
          
          <button 
            class="btn btn-primary" 
              type="submit"
              >Submit</button>
        </form>
        <hr>
        <h3 *ngIf="f.touched && summa">Всего: {{ summa }}€</h3>
      </div>
    </div>
  </div>
</div>
